<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pagina niet gevonden</title>
</head>
<body>
<h1>Sorry, de pagina die u zoekt is niet beschikbaar</h1>
<h2>Klik <a href="{{ path('endroid_site_home_index') }}"></a> om terug te keren naar de homepage.</h2>
</body>
</html>
