# Translations of prefixes for multilingual routes can be defined in
# src/Endroid/Bundle/SiteBundle/Resources/translations/routes.<lang>.yml

endroid_news:
    resource:   "@EndroidNewsBundle/Controller/"
    type:       annotation
    prefix:     /news

endroid_search:
    resource:   "@EndroidSearchBundle/Controller/"
    type:       annotation
    prefix:     /search

endroid_site:
    resource:   "@EndroidSiteBundle/Controller/"
    type:       annotation

endroid_sitemap:
    resource:   "@EndroidSitemapBundle/Controller/"
    type:       annotation

endroid_page:
    resource:   "@EndroidPageBundle/Controller/"
    type:       annotation

sonata_user:
    resource: '@SonataUserBundle/Resources/config/routing/admin_security.xml'
    prefix: /admin

gallery:
    resource: '@SonataMediaBundle/Resources/config/routing/gallery.xml'
    prefix: /media/gallery

media:
    resource: '@SonataMediaBundle/Resources/config/routing/media.xml'
    prefix: /media

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin
