<form class="navbar-form pull-left" action="{{ url('endroid_search_search_index') }}" method="get">
    <input name="q" type="text" class="form-control col-lg-8" placeholder="{{ 'search'|trans }}">
</form>
