{% extends admin.getTemplate('base_list_field') %}

{% block field %}

    {% if app.request.query.get('parent') > 0 and admin.hasRoute('down') and admin.isGranted('DOWN') %}

        <a class="btn sonata-action-element" href="{{ admin.generateUrl('down', { id: object.id }) }}">
            <i class="icon-arrow-down"></i>
        </a>

    {% endif %}

{% endblock field %}
