{% extends admin.getTemplate('base_list_field') %}

{% block field %}

    {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}

        <a class="btn sonata-action-element" href="{{ admin.generateUrl('create', { parent: object.id }) }}">
            <i class="icon-plus"></i>
        </a>

    {% endif %}

{% endblock field %}
