{% extends admin.getTemplate('base_list_field') %}

{% block field %}

    {% if app.request.query.get('parent') > 0 %}<a href="{{ path(app.request.attributes.get('_route'), { parent: 0 }) }}">{% endif %}

        Menu's

    {% if app.request.query.get('parent') > 0 %}</a>{% endif %}

    {% for item in object.path %}

        &nbsp;&gt;&nbsp;

        {% set route = route(item.routeKey) %}

        {% if item.id != app.request.query.get('parent') %}<a href="{{ path(app.request.attributes.get('_route'), { parent: item.id }) }}">{% endif %}

        {% if route %}

            {{ route.label }}

        {% else %}

            {{ item.tag }}

        {% endif %}

        {% if item.id != app.request.query.get('parent') %}</a>{% endif %}

    {% endfor %}

{% endblock field %}
